p {
  margin-bottom: 24px;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 24px;
  width: 408px;
}

label {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

input {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  display: block;
  margin-top: 8px;
  margin-bottom: 8px;
}

button {
  font-family: "Montserrat", sans-serif;
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  margin-top: 16px;
}

input:hover {
  border: 1px solid #000000;
}

button:hover {
  background: #6c8cff;
}
